@CHARSET "UTF-8";
@import url(common.css);

body {
	background: #ddd;
}

div#wrapper {
	width: 300px;
	margin: 5% auto 1em;
}

input#f_login,
input#f_pwd {
	padding-left: 22px;
}

input#f_login { background: #fff url(../images/famfamfam/user.png) no-repeat 2px 50%; }
input#f_pwd { background: #fff url(../images/famfamfam/key.png) no-repeat 2px 50%; }